input {}
.content {z-index: 100; width: 400px;height: 50px; position: absolute; right: 5%;top: 20%;}
    .content label {padding: 5px; transition: all 1s; background-color: rgb(255, 255, 255); color: black;border-radius: 5px;box-shadow: 0px 0px 40px rgb(184, 184, 184);}
    .content label:hover {background-color: rgb(220, 220, 220); }
.item { position: relative;top: 50%; left: 50%; width: 500px; height:500px; transform: translate(-50%, -50%);}
    .item .pie{
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        position: absolute; display:inline-block;z-index: 1;transform:scale(1); width: 530px; height: 530px; border-radius: 50%;}
    #check2:checked ~ .item .pie2{z-index: 40;animation-name: scale;background: conic-gradient(green 0% 30%, blue 30% 60%, red 60% 100%);}
    #check1:checked ~ .item .pie1{z-index: 40;animation-name: scale;background: conic-gradient(green 0% 20%, blue 20% 60%, red 60% 100%);}


.svgOpen{width: 500px;z-index: 0; height: 500px;position: absolute; top: 52%; left: 53%; transform: translate(-50%, -50%) rotate(270deg);}
.circleOpen{
    animation-delay   : 0s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    z-index: 1; opacity: 0; transform: rotate(0deg);}
#check1:checked ~ .item .svgOpen .circleOpen{opacity: 1; animation-name: open1; transform-origin:50% 50%;}
#check2:checked ~ .item .svgOpen .circleOpen{opacity: 1; animation-name: open2; transform-origin:50% 50%;}
#check1:checked ~ .item .svgOpen {overflow: inherit; animation: up 1s forwards;}
#check2:checked ~ .item .svgOpen {overflow: inherit; animation: up 1s forwards;}
#check1:checked ~ .item .cir1{transition-delay: 1s; z-index: 80;}
#check2:checked ~ .item .cir2{transition-delay: 1s; z-index: 80;}

@keyframes open1 {
    0%   { stroke-dashoffset :0;}
    100% { stroke-dashoffset :-1700;}
}
@keyframes open2 {
    0%   { stroke-dashoffset :0;}
    100% { stroke-dashoffset :-1700;}
}
@keyframes up {
    0%   { z-index: 0;}
    1%   { z-index: 50;}
    100% { z-index: 50;}
}
@keyframes scale1 {
    0%   { transform: scale(1);}
    100% { transform: scale(0);}
}
@keyframes scale {
    0%   { transform: scale(1);}
    100% { transform: scale(0);}
}


/* hove 효과 */
.cir1{width: 490px; z-index: 1; height: 490px;overflow: initial; position: absolute; top: 49.9%; left: 55.5%; transform: translate(-50%, -50%);}
.cir2{width: 490px; z-index: 1; height: 490px;overflow: initial; position: absolute; top: 49.9%; left: 55.5%; transform: translate(-50%, -50%);}
.cir1-1{transform: rotate(125deg);transform-origin:86% 61%;  transition: all .5s;}
.cir1-2{transform: rotate(269deg);transform-origin:50% 100%; transition: all .5s;}
.cir1-3{transform: rotate(17deg); transform-origin:233% -98%;transition: all .5s;}
.cir1 g .cir1-3{transform:rotate(342deg); transform-origin:-78% 235%;transition: all .5s;}
text{transition: all .5s;}

.g1:hover .cir1-1{transform:rotate(125deg);transform-origin:84% 60%}
.g1:hover .text1{ fill: white;}
.g2:hover .cir1-2{transform:rotate(269deg);transform-origin:50% 97%;}
.g2:hover .text2{ fill: white;}
.cir2 .g3:hover .cir1-3{transform:rotate(17deg);transform-origin:220% -90%}
.cir1 .g3:hover .cir1-3{transform:rotate(342deg);transform-origin:-70% 230%;}
.g3:hover .text3{ fill: white;}


.look{width: 300px;position: relative; left: 10%;}



/* 구 버전 */
/* 
@keyframes pie2 {
    0%  {background: conic-gradient(green 0% 0%,  rgb(255, 255, 255) 0% 100%);}
    5%  {background: conic-gradient(green 0% 5%,  rgb(255, 255, 255) 0% 100%);}
    10% {background: conic-gradient(green 0% 10%, rgb(255, 255, 255) 0% 100%);}
    15% {background: conic-gradient(green 0% 15%  rgb(255, 255, 255) 0% 100%);}
    20% {background: conic-gradient(green 0% 20%, rgb(255, 255, 255) 0% 100%);}
    25% {background: conic-gradient(green 0% 25%, rgb(255, 255, 255) 0% 100%);}
    30% {background: conic-gradient(green 0% 30%, rgb(255, 255, 255) 0% 100%);}
    35% {background: conic-gradient(green 0% 30%, blue 30% 35%, rgb(255, 255, 255) 30% 100%);}
    40% {background: conic-gradient(green 0% 30%, blue 30% 40%, rgb(255, 255, 255) 30% 100%);}
    45% {background: conic-gradient(green 0% 30%, blue 30% 45%, rgb(255, 255, 255) 30% 100%);}
    50% {background: conic-gradient(green 0% 30%, blue 30% 50%, rgb(255, 255, 255) 30% 100%);}
    55% {background: conic-gradient(green 0% 30%, blue 30% 55%, rgb(255, 255, 255) 30% 100%);}
    60% {background: conic-gradient(green 0% 30%, blue 30% 60%, rgb(255, 255, 255) 30% 100%);}
    65% {background: conic-gradient(green 0% 30%, blue 30% 60%, red 60% 65%, rgb(255, 255, 255) 60% 100%);}
    70% {background: conic-gradient(green 0% 30%, blue 30% 60%, red 60% 70%, rgb(255, 255, 255) 60% 100%);}
    75% {background: conic-gradient(green 0% 30%, blue 30% 60%, red 60% 75%, rgb(255, 255, 255) 60% 100%);}
    80% {background: conic-gradient(green 0% 30%, blue 30% 60%, red 60% 80%, rgb(255, 255, 255) 60% 100%);}
    85% {background: conic-gradient(green 0% 30%, blue 30% 60%, red 60% 85%, rgb(255, 255, 255) 60% 100%);}
    90% {background: conic-gradient(green 0% 30%, blue 30% 60%, red 60% 90%, rgb(255, 255, 255) 60% 100%);}
    95% {background: conic-gradient(green 0% 30%, blue 30% 60%, red 60% 95%, rgb(255, 255, 255) 60% 100%);}
    100%{background: conic-gradient(green 0% 30%, blue 30% 60%, red 60% 100%,rgb(255, 255, 255) 60% 100%);}
}
*/