* {margin: 0;padding: 0;box-sizing: border-box;}
.f, .fc, .fa, .fs, .fe, .fb{display: flex;}
.fc {justify-content: center;}
.fa {justify-content: space-around;}
.fs {justify-content: flex-start;}
.fe {justify-content: flex-end;}
.fb {justify-content: space-between;}

.content{width: 80%; height: 80%; overflow: hidden; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.content > div{width: 300%; height: 100%; position: relative; top: 0%; right: 0%;animation: slide 9s infinite;}
.content div div{width: calc(300% / 3); height: 100%; position: relative; background-color: yellow;}
.content div div p{color: white;position:absolute;top: 50%; left: 50%; transform: translate(-50%, -50%);padding: 10px; background-color: rgba(13, 13, 13, 0.541);}

@keyframes slide {
    0%  {right: calc(100% * 0);}
    30%  {right: calc(100% * 0);}
    33%  {right: calc(100% * 1);}
    63%  {right: calc(100% * 1);}
    66%  {right: calc(100% * 2);}
    96%  {right: calc(100% * 2);}
    99%  {right: calc(100% * 0);}
}

/* 이미지 설정 */
.item1{background: url(./img/1.jpg); background-size: cover;}
.item2{background: url(./img/2.jpg); background-size: cover;}
.item3{background: url(./img/3.jpg); background-size: cover;}

/* 정지, 재생 */
label{box-shadow: 0px 0px 30px rgba(107, 103, 103, 0.508); width: 90px;text-align: center;transition: all 1s; padding: 10px; position: absolute; top: 90%;right: 10%;}
label:hover{background-color: rgba(203, 198, 198, 0.498);color: rgb(18, 20, 20);}
input[id="stop"] + label::after{content: "일시정지";}
input[id="stop"]:checked + label::after{content: "재생";}
input[id="stop"]:checked ~ .content > div{animation-play-state: paused;}