*{box-sizing: border-box; padding: 0; margin: 0;}
button{background: inherit; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible;}
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.f, .fc, .fb{display: flex;}
.fc	{justify-content: center;}
.fb {justify-content: space-between;}
.Raleway-regular{font-family: "Raleway",sans-serif; font-weight: 400;}
.Raleway-medium{font-family: "Raleway",sans-serif; font-weight: 500;}
.Raleway-extrabold{font-family: "Raleway",sans-serif; font-weight: 500;}
.Montserrat-light{font-family: "Montserrat", sans-serif; font-weight: 300;}
.Raleway-SemiBold{font-family: "Raleway",sans-serif; font-weight: 600;}
/*
header는 1110px으로 만든다.
해더 안 요소들을 정리 할 때는 left, top 모든 것들이 정해져 있고,
한 곳을 중심으로 잡아서 만들며 되기 때문에 postion을 사용한다.
*/
/*
visual은 widht: 100%, height: 1024px로 만든다. ( overflow: hidden을 반드시 해야 한다.)
label은 content에서 150px 만큼 떨어진 곳에서 만들어 진다.
label의 버튼 크기는 width가 40px이다.
(150*2 + 40*2) + 1110px로 arrow의 widht를 잡는다.
arrow에 .fb를 통해서 arrow들을 배치한다.

img1을 클릭했을 때는 left  = img3 을 배치 시킨다.
					right = img2
위에 처럼 img1,2,3를 만들어서 check 했을 때의 효과를 하나씩 넣어준다.
*/

/*header*/
header{width: 1110px; height: 130px; position: relative;left: 50%;z-index: 2; transform: translateX(-50%);}
	.logo{position: absolute; top: 52px; left: 0;}
	.logo h2{font-size: 34px;color: white;}
	.nav{position: absolute; top: 62px; right: 0;}
		.menu{font-size: 14px;color: white;}
			.menu p{margin-right: 30px;transition: all .5s;}
			.menu p:hover{color: #c7b299;}
		.icon{font-size: 18px;width: 65px; color: white;}
/*visual*/
.visual{width: 100%; height: 1024px;overflow: hidden; position: absolute; top: 0; left: 0;z-index: 0;}
	.visual .img{width: calc(100% * 3); height: 100%;position: absolute;top: 0;left: 0;}
		.visual .img div{width: calc(100% / 3);transition: all .5s; height: 100%; background-blend-mode: multiply; background-color:rgba(0, 0, 0, 0.614);}
		.visual_img1{background: url(./img/visual/1.jpg);background-size:cover;}
		.visual_img2{background: url(./img/visual/2.jpg);background-size:cover;}
		.visual_img3{background: url(./img/visual/3.jpg);background-size:cover;}
	.visual .text{ position: absolute; top: 50%; left: 50%;color: white; transform: translate(-50%, -50%);}
		.visual .text p{text-align: center;}
		.visual .text p:nth-child(1){font-size: 35px;}
		.visual .text p:nth-child(2){font-size: 52px;margin-top: 26px;}
		.visual .text p:nth-child(3){font-size: 16px;width: 510px;position: relative; left: 50%; transform: translateX(-50%);}
		.visual .btn {margin-top: 72px;width: 150px;position: relative; left: 50%;transform: translateX(-50%); height: 53px;font-size: 14px; background-color: #998675;color: white;border-radius: 5px;}
	.visual .arrow{position: absolute; top: 50%; left: 50%;height: 77px; transform: translate(-50%, -50%);width: 1490px;} 
		.visual .arrow .right{transform: rotate(180deg);}
		.visual .arrow div label{position: absolute;z-index: 1;}

/* 슬라이드 넘기기 */
input[id="img1"]:checked ~ .img{left: calc(0 * -100%);transition: all .5s;}
input[id="img2"]:checked ~ .img{left: calc(1 * -100%);transition: all .5s;}
input[id="img3"]:checked ~ .img{left: calc(2 * -100%);transition: all .5s;}
/*label 체인지 해주기*/
/*left*/
input[id="img1"]:checked ~.arrow .left label[for="img3"]{z-index: 2;}
input[id="img2"]:checked ~.arrow .left label[for="img1"]{z-index: 2;}
input[id="img3"]:checked ~.arrow .left label[for="img2"]{z-index: 2;}
/*right*/
input[id="img1"]:checked ~.arrow .right label[for="img2"]{z-index: 2;}
input[id="img2"]:checked ~.arrow .right label[for="img3"]{z-index: 2;}
input[id="img3"]:checked ~.arrow .right label[for="img1"]{z-index: 2;}